<!DOCTYPE html>



<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/HamburgerMenu.css" rel="stylesheet" />
    <script src="~/scripts/CustomJS/HamburgerMenu.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArzY7dPe5dD9zax6S1X8t9nkICtENXK3c&signed_in=true&callback=initMap"
            async defer></script>
</head>

<body class="fundo" onload="chamaMapa();">

    <script src="~/scripts/CustomJS/MapsLocator.js"></script>

    <div id="main">
        <div class="navbar navbar-inverse navbar-fixed-top elevation" style="background-color:#343a64">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @if (Request.IsAuthenticated)
                    {
                        <span class="navbar-brand" style="margin-right:15px;font-size:30px;cursor:pointer;color:#ffffff" onclick="openNav()">
                            &#9776;
                        </span>

                        @Html.ActionLink("EasyBuy Dashboard", "Index", "Produtoes", new { area = "" }, new { @class = "navbar-brand" })

                    }
                    else
                    {
                        @Html.ActionLink("EasyBuy", "Login", "Login", new { area = "" }, new { @class = "navbar-brand" })

                    }
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>

                    <ul class="nav navbar-nav navbar-right">
                        @if (!Request.IsAuthenticated)
                        {

                            <li>
                                <a class="glyphicon glyphicon-tags"></a>
                            </li>

                        }
                        else
                        {
                            <li>
                                <div>
                                    <a class="nav navbar-brand" href="@Url.Action("Logout", "Login")">
                                        Sair <o class="glyphicon glyphicon-share-alt" />
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div id="mySidenav" class="sidenav" style="background-color:#1b1e3b;padding-top:0px;">

            <div class="container">

                <div class="list-group">

                    <div class="row" style="height:170px; padding-top:40px; margin-bottom:10px; padding-left:25px; background-image: url(http://freshwallpapers.net/download/6352/1920x1080/download/material-design-blue-scheme.jpg);background-size: 100% 100%;">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                        <div class="form-group">
                            <img src="~/Images/userplaceholder.png" height="100" width="100" />

                            <label style="color:#ffffff;margin-left:15px">@HttpContext.Current.User.Identity.Name</label>
                        </div>
                    </div>

                    <a href="@Url.Action("Index","Produtoes")" class="glyphicon glyphicon-tag"> Produtos</a>

                    <hr class="hrcolor" />
                    <a href="@Url.Action("Index","Estabelecimentoes")" class="glyphicon glyphicon-home"> Estabelecimentos</a>

                    <hr class="hrcolor" />
                    <a href="@Url.Action("Index","Categorias")" class="glyphicon glyphicon-paperclip"> Categorias</a>

                    <hr />
                    <a href="@Url.Action("Upload","UploadExcel")" class="glyphicon glyphicon-file"> Carregar Excel</a>

                    <hr class="hrcolor" />
                    <a href="@Url.Action("Create","Estabelecimentoes")" class="glyphicon glyphicon-plus"> Cadastrar Estabelecimento</a>

                    <hr class="hrcolor" />
                    <a href="@Url.Action("Create","Produtoes")" class="glyphicon glyphicon-plus"> Cadastrar Produto</a>

                    <hr class="hrcolor" />
                    <a href="@Url.Action("Create","Categorias")" class="glyphicon glyphicon-plus"> Cadastrar Categoria</a>
                </div>
            </div>
        </div>

        <footer>
            <div class="container body-content fun">
                @RenderBody()
                <hr />

                <p>&copy; @DateTime.Now.Year - All Rights Reserved to EasyBuy</p>
            </div>
        </footer>
    </div>

    @using Jmelosegui.Mvc.GoogleMap;
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>